ATHENA_ANTHROPIC_API_KEY=
ATHENA_OLLAMA_API_KEY=
ATHENA_OLLAMA_BASE_URL=
ATHENA_SRV_COLLABORATION_ENABLED=false
ATHENA_SRV_RESEND_API_KEY=
ATHENA_SRV_COLLABORATOR_ALIASES=
ATHENA_SRV_RESEND_WEBHOOK_SECRET=
ATHENA_BASE_URL=
ATHENA_SRV_COLLAB_REPLY_DOMAIN=
ATHENA_SRV_ORCHESTRATOR_MODEL=
ATHENA_SRV_REPORT_CHAT_MODEL=
ATHENA_SRV_REPORT_CHAT_PROVIDER=